services:
  - type: web
    name: file-sharing-app
    env: node
    region: ohio
    plan: free
    buildCommand: npm install
    startCommand: node deploy.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: PORT
        value: "3000"
    healthCheckPath: /
    healthCheckTimeout: 100
    autoDeploy: true
    numInstances: 1 